@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --background: #ffffff;
  --foreground: #5d5d5d;
}

/*@theme inline {*/
/*  --color-background: var(--background);*/
/*  --color-foreground: var(--foreground);*/
/*}*/


@media (prefers-color-scheme: dark) {
  :root {
    --background: #5d5d5d;
    --foreground: #ededed;
  }
}

body {
  margin: 0;
  padding:0;
  background: var(--background);
  color: var(--foreground);
  font-family: Segoe UI, Helvetica, sans-serif;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

button {
  cursor: pointer;
  font-weight: 500;
  padding: 8px;
  border-radius: 8px;
  box-sizing: border-box;
  align-content: center;
  align-items: center;
  text-align: center;
}

button:hover {
  background: rgba(0, 0, 0, 0.3)
}

